language: scala

# scala versions to test against
scala:
 - 2.12.1
 - 2.11.8

jdk:
 - oraclejdk8
 - oraclejdk7

script:
  - sbt clean coverage compile test coverageReport 

after_success:
- bash <(curl -s https://codecov.io/bash)